@tailwind base;
@tailwind components;
@tailwind utilities;


.glassMorphism {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.09);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.boxShadowCust {
  box-shadow: 11px 11px 39px #e0e0e0, -11px -11px 39px #ffffff;
}

.postShadow {
  box-shadow: 2px 2px 10px #e0e0e0, -2px -2px 10px #ffffff;
}

  
